{% extends "index.html" %}
{% block title %}
    <title> دسته بندی ها </title>
{% endblock %}

{% block Content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                لیست کامل دسته بندی ها
            </h1>

        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12 col-md-12 ">
            <div class="jumbotron">

                <div class="row">

                    <div class="col-lg-3 col-md-3 ">
                        <p> کسب وکارهای آنلاین </p><br>

                        {% for KTag in KTags %}
                            <li><a href="showWebsites-{{ KTag.id }}">{{ KTag }}</a>
                            </li>
                        {% endfor %}
                    </div>


                    <div class="col-lg-3 col-md-3 ">
                        <p> اطلاع رسانی و محتوا </p><br>

                        {% for ETag in ETags %}
                            <li><a href="showWebsites-{{ ETag.id }}">{{ ETag }}</a>
                            </li>
                        {% endfor %}
                    </div>


                    <div class="col-lg-3 col-md-3 ">
                        <p> شخصی و شرکتی </p><br>
                        {% for STag in STags %}
                            <li><a href="showWebsites-{{ STag.id }}">{{ STag }}</a>
                            </li>
                        {% endfor %}
                    </div>
                    <div class="col-lg-3 col-md-3 ">
                        <p> خدمات آنلاین </p><br>
                        {% for KhTag in KhTags %}
                            <li><a href="showWebsites-{{ KhTag.id }}">{{ KhTag }}</a>
                            </li>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}{% block Carousel %}
{% endblock %}