{% extends "index.html" %}
{% block title %}
    <title>ارتباط با ما</title>
{% endblock %}
{% block Content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ارتباط با ما
            </h1>

        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-9 col-md-9">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.20887945844!2d48.41942057734272!3d33.47792370711636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3feeb85f813eae41%3A0xc9b724bd88e4a62d!2z2K_Yp9mG2LTar9in2Ycg2YTYsdiz2KrYp9mG2IwgS2hvcnJhbWFiYWQsIExvcmVzdGFu!5e1!3m2!1sen!2sir!4v1459150602794"
                    width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

        <!-- Contact Details Column -->

        <div class="col-lg-3 col-md-3">
            <h3>اطلاعات تماس </h3> <br>
            <!--
          <p>
              3481 Melrose Place<br>Beverly Hills, CA 90210<br>
          </p>
          <p><i class="fa fa-phone"></i>
              <abbr title="Phone">P</abbr>: (123) 456-7890</p>
          <p><i class="fa fa-envelope-o"></i>
              <abbr title="Email"></abbr>: <a href="mailto:name@example.com">name@example.com</a>
          </p>
-->
        </div>


    </div>
    <!-- /.row -->

    <br>
    <!-- Contact Form -->

    <div class="row">
        <div class="col-md-8">

            <h3 class="page-header">
                از طریق فرم زیر میتوانید با ما ارتباط داشته باشید
            </h3>

            <form name="sentMessage" id="contactForm" novalidate action="contact.html" method="post">
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <label>نام کامل :</label>
                        <input type="text" class="form-control" name="name" id="name" required
                               data-validation-required-message="Please enter your name." placeholder="نام کامل">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">

                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>ایمیل :</label>
                        <input type="email" class="form-control" name="email" id="email" required
                               data-validation-required-message="Please enter your email address." placeholder="ایمیل">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>پیام ارسالی: </label>
                        <textarea rows="10" cols="100" class="form-control" name="message" id="message" required
                                  data-validation-required-message="Please enter your message" maxlength="999"
                                  style="resize:none" placeholder="پیام ارسالی"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary">فرستادن پیام</button>
            </form>
        </div>

    </div>
    <!-- /.row -->



    <hr>
{% endblock %}{% block Carousel %}
{% endblock %}