{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}
        <title> خانه </title>
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    {% bootstrap_css %}
    {#        <link href=" {% static 'css/bootstrap.css' %}" rel="stylesheet">#}

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


</head>

<body>
{% block Navigation %}
    <!-- *********************************************** -->
    <!-- Start  Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Menu Navigation -->
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">


            <ul class="sidebar-nav">
                <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i
                        class="fa fa-times"></i></a>


                <li class="sidebar-brand">
                    <a href="#top" onclick=$("#menu-close").click();> </a>
                </li>


                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"> کسب و کارهای آنلاین <i
                            class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        {% for KTag in KTags %}
                            <li><a href="showWebsites-{{ KTag.id }}" onclick=$("#menu-close").click();>{{ KTag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>


                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demoo"> اطلاع رسانی و محتوا <i
                            class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demoo" class="collapse">
                        {% for ETag in ETags %}
                            <li><a href="showWebsites-{{ ETag.id }}"
                                   onclick=$("#menu-close").click();>{{ ETag }}</a></li>
                        {% endfor %}
                    </ul>
                </li>


                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo4"> شخصی و شرکتی <i
                            class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo4" class="collapse">

                        {% for STag in STags %}
                            <li><a href="showWebsites-{{ STag.id }}"
                                   onclick=$("#menu-close").click();>{{ STag }}</a></li>
                        {% endfor %}

                    </ul>
                </li>

                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo2"> خدمات آنلاین <i
                            class="fa fa-fw fa-caret-down"></i> </a>
                    <ul id="demo2" class="collapse">
                        {% for KhTag in KhTags %}
                            <li><a href="showWebsites-{{ KhTag.id }}"
                                   onclick=$("#menu-close").click();>{{ KhTag }}</a></li>
                        {% endfor %}
                    </ul>
                </li>


                </li>


            </ul>


        </nav>

        <!-- END Menu Navigation -->

        {% block acount %}
            <!-- start acount -->
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown"><a href="#" class="dropdown-toggle pull-left toggle" data-toggle="dropdown">حساب
                        کاربری
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img src="{% static 'img/120x120.png' %}"
                                                 alt="Alternate Text" class="img-responsive"/>
                                            <p class="text-center small">
                                                <a href="#"> تغییر عکس </a></p>
                                        </div>
                                        <div class="col-md-7">
                                            <span>{{ username }}</span>
                                            <p class="text-muted small">
                                                {{ username.email }}</p>
                                            <div class="divider">
                                            </div>
                                            <a href="/admin" class="btn btn-primary btn-sm active">پنل مدیریت</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-footer">
                                    <div class="navbar-footer-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="password_change" class="btn btn-default btn-sm">تغییر
                                                    گذرواژه</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{% url 'logout' %}" class="btn btn-default btn-sm pull-right">خروج</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        </div>
                    </li>
                </ul>
            {% endif %}
            <!-- ENd acount -->
        {% endblock %}
        <div class="container">

            <!-- Menu -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">Link Book</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="index">صفحه اصلی</a>
                    </li>


                    <li>
                        <a href="all-Category">دسته بندی ها</a>
                    </li>
                    <!--
                    <li>
                        <a href="#search">جستجو</a>
                    </li>
                     -->
                    {% if not user.is_authenticated %}
                        <li>
                            <a href="#" data-toggle="modal" data-target="#Register-modal">ثبت نام</a>
                        </li>


                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">ورود</a>
                        </li>
                    {% endif %}


                </ul>


            </div>

            <!-- /.navbar-collapse -->


        </div>
        <!-- /.container -->

    </nav>
    <!-- /END of all Nav -->
    <!-- *********************************************** -->
{% endblock %}


{% block Carousel %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        {% block Indicators %}
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        {% endblock %}
        {% block WrapperSlide %}
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('{% static 'img/slider2.png' %}');"></div>
                    <div class="carousel-caption">
                        <h2> دنیای اینترنت را یک جا در اختیار داشته باشید </h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('{% static 'img/slider1.png' %}');"></div>
                    <div class="carousel-caption">
                        <h2>مجموعه کامل از وب سایت های فارسی زبان</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('{% static 'img/slider3.png' %}');"></div>
                    <div class="carousel-caption">
                        <h2>...</h2>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- Controls -->
    </header>
    <!-- End Carousel -->
{% endblock %}


{% block container %}
    <!-- Page Content -->
    <div class="container">
        {% block Content %}
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>

                    <ol class="breadcrumb">
                        {#                        <li><a href="showWebsites"> کسب و کارهای آنلاین</a>#}
                        </li>
                    </ol>

                </div>
            </div>
            <!-- /.row -->



            <!-- Websites Row 1 -->

            <div class="row">
                {% for choice in webcontext %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img-responsive no-padding">
                        <a href="Websitepage-{{ choice.id }}">
                            <img class="img-hover responsive-img" src="{{ choice.Webpage_logo.url }}"
                                 alt="{{ choice.Webpage_logo.url }}" height="250" width="260">
                        </a>
                        <h4>
                            <a class="btn btn-sm btn-primary btn-block"
                               href="Websitepage-{{ choice.id }}">{{ choice.title }}</a>
                        </h4>
                    </div>
                {% endfor %}
            </div>

            <!-- /. end row 1 -->
            <br>
            <br>
            <br>
        {% endblock %}





        <!-- ******************************************************* -->

        {% block Register %}
            <!-- Register Modal -->
            <div class="modal fade" id="Register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                        <h1> ثبت نام </h1><br>
                        <form method="post" enctype="multipart/form-data">
                            <div id="complexify">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="progress">
                                    <div id="complexity-bar" class="progress-bar" role="progressbar">
                                    </div>
                                </div>
                            </div>
                            <span id="confirmMessage"></span>
                            <input type="submit" name="Register" onclick="return Validate()"
                                   class="login loginmodal-submit" value=" ثبت نام ">
                        </form>

                    </div>
                </div>
            </div>
            <!-- END Register Modal -->
        {% endblock %}

        {% block Login %}
            <!-- Login Modal -->
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                        <h1> ورود به حساب کاربری</h1><br>
                        <form action="/admin/login/?next=/admin/" method="post">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="نام کاربری">
                            <input type="password" name="password" placeholder="پسورد">
                            <input type="submit" name="login" class="login loginmodal-submit" value="ورود">
                        </form>

                        <div class="login-help">
                            <a href="password_reset">فراموش کردن رمز عبور</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END Login Modal -->
        {% endblock %}

        <hr>



        {% block Footer %}
            <!-- Footer -->

            <section class="footer">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <div class="footer_dv">
                                <h4>لینک بوک</h4>
                                <ul>
                                    <li class="line_rv"><a href="index"> صفحه اصلی </a></li>
                                    <li><a href="about"> درباره ما </a></li>
                                    <li><a href="Vision"> چشم انداز </a></li>
                                    <li><a href="contact"> ارتباط با ما </a></li>

                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <div class="footer_dv">
                                <h4>دیگر قسمت ها</h4>
                                <ul>

                                    <li><a href="siteMap"> نقشه سایت</a></li>
                                    <li><a href="Questions"> سوالات متداول </a></li>
                                    <li><a href="index"> راهنما </a></li>
                                    <li><a href="index"> قوانین </a></li>

                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-4  col-md-4 col-sm-12">
                            <div class="footer_dv">
                                <h4>دسته بندی ها</h4>
                                <ul>
                                    <li><a href="showWebsites"> کسب و کارهای آنلاین </a></li>
                                    <li><a href="showWebsites"> اطلاع رسانی و محتوا</a></li>
                                    <li><a href="showWebsites"> خدمات آنلاین </a></li>
                                    <li><a href="showWebsites"> شخصی و شرکتی </a></li>


                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <!-- END Footer -->
        {% endblock %}


    </div>
{% endblock %}
{% block Search %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div id="search">
                <form action="#">
                    <input type="search" value="" placeholder="جستجوی وب سایت "/>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/passtest.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{% bootstrap_javascript %}
<script src=" {% static 'js/scripts.js' %}"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
</body>

</html>
{#{% load bootstrap3 %}#}
{#{% bootstrap_css %}#}
{#{% bootstrap_javascript %}#}
{#{% bootstrap_messages %}#}
{# Display a form #}
{#<form action="/index" method="post" class="form">#}
{#  {% csrf_token %}#}
{#  {% bootstrap_form form %}#}
{#  {% buttons %}#}
{#    <button type="submit" class="btn btn-primary">#}
{#      {% bootstrap_icon "star" %} Submit#}
{#    </button>#}
{#  {% endbuttons %}#}
{#</form>#}