{% extends "index.html" %}
{% block title %}
    <title>سوالات متداول</title>
{% endblock %}
{% block Content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                سوالات متداول
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                <!-- panel 1 -->
                <div class="panel panel-default">

                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse1" aria-expanded="true"
                             aria-controls="collapseOne">

                            <h4 class="panel-title collapsed">
                                آیا برای ثبت وب سایت باید قبلش در لینک بوک ثبت نام کنم؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <!-- Tab content goes here -->
                            آخه این چه سوالیه که میپرسی
                        </div>
                    </div>
                </div>
                <!-- / panel 1 -->


                <!-- panel 2 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse2" aria-expanded="false"
                             aria-controls="collapseTwo">
                            <h4 class="panel-title collapsed">
                                آیا باید هزینه ای پرداخت کنم؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <!-- Tab content goes here -->
                            یعنی واقعا نمیدونی
                        </div>
                    </div>
                </div>
                <!-- / panel 2 -->


                <!--  panel 3 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                آیا به هر تعدادی که بخواهم میتوانم وب سایت ثبت کنم؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- tab content goes here -->
                            اینم من باید برات توضیح بدم
                        </div>
                    </div>
                </div>
                <!-- /.panel-3 -->


                <!--  panel 4 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="heading4" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <h4 class="panel-title">
                                چگونه از ماکلیت حقوقی و معنوی صاحبان وب سایت مطلع شوم؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body">
                            <!-- tab content goes here -->
                            ار حمزه بپرس اون میدونه
                        </div>
                    </div>
                </div>
                <!-- /.panel-4 -->


                <!--  panel 5-->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse5" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                معیار شما برای نمایش وب سایت برتر در هر حوزه چیست؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- tab content goes here -->
                            یادمه خانم سپخوند خیلی حساس بود روی این قضیه
                            بپرسی ازش حتما بهت میگه
                        </div>
                    </div>
                </div>
                <!-- /.panel-5 -->


                <!--  panel 6 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse6" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                چگونه میتوانم ایمیل های ثبت شده را در خبرنامه خودم داشته باشم؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- tab content goes here -->
                            بذار فکر کنم
                        </div>
                    </div>
                </div>
                <!-- /.panel-6 -->


                <!--  panel 7 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse7" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                آیا برای ثبت نطر باید ثبت نام کنم؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- tab content goes here -->
                            برای ثبت نظر برای وب اسیت مورد نطرتون اصلا نیازی به ثبت نام نیست
                            و به راحتی میتونید با ارد کردن نام و ایمیل خود نظرتونو ثبت کنید
                            البته نظر شما بعد از بررسی تایید میشه
                        </div>
                    </div>
                </div>
                <!-- /.panel-7 -->


                <!--  panel 8 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse8" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                آیا میتوانم نظر منتقدان وب سایت را بدهم؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- tab content goes here -->
                            اخه این دیگه پرسیدن داره خب معلومه که نه
                        </div>
                    </div>
                </div>
                <!-- /.panel-8 -->


                <!--  panel 9 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse9" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                آیا برای کاربر عادی هم پروفایل کاربری وجود دارد؟
                            </h4>
                        </div>
                    </span>

                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- tab content goes here -->
                            الان یه چیزی بگم میگی احترام بزرگتر رو حفظ نمیکنی
                            خب وقتی نظر دادن نیاز به ثبت نام نداره، معلومه که پروفایل کاربری هم در کار نیست
                        </div>
                    </div>
                </div>
                <!-- /.panel-9 -->


                <!--  panel 10 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapse10" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">
                                سوال
                            </h4>
                        </div>
                    </span>

                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <!-- tab content goes here -->

                        </div>
                    </div>
                </div>
                <!-- /.panel-10 -->


            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <hr>
    <!-- /.container --></div>
{% endblock %}{% block Carousel %}
{% endblock %}