{% extends "index.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    <title> وب سایت ها </title>
{% endblock %}
{% block Content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">عنوان دسته بندی

            </h1>

        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        {% for web in webcontext %}
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 img-portfolio">
                <a href="Websitepage-{{ web.id }}">
                    <img class="img-responsive img-hover" src="{{ web.Webpage_logo.url }}"
                         alt="{{ web.Webpage_logo.url }}" height="250" width="260">
                </a>
                <h4>
                    <a class="btn btn-sm btn-primary btn-block" href="Websitepage-{{ web.id }}">{{ web }}</a>
                </h4>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->


    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        {#        {% bootstrap_pagination webs url="/showWebsites?page=1" size="large" %}#}
    </div>
    <!-- /.row -->
{% endblock %}
{% block Carousel %}
{% endblock %}