{% extends "index.html" %}
{% block title %}
    <title>نقشه سایت</title>
{% endblock %}
{% block Content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                نقشه سایت
            </h1>

        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12 col-md-12 ">
            <div class="jumbotron">
                <div class="row">

                    <div class="col-lg-12 col-md-12 ">
                        <p> تمام قسمت ها و صفحات مختلف سایت لینک بوک را می توانید در لیست زیر مشاهده بفرمایید . </p>
                    </div>
                </div>
                <br>
                <br>


                <!-- /.row 	-->

                <div class="row">

                    <div class="col-lg-6 col-md-6 ">


                        <ul>
                            <li>
                                <a href="#">خانه</a>
                            </li>
                            <li>
                                <a href="#">درباره ما</a>
                            </li>
                            <li>
                                <a href="#">چشم انداز</a>
                            </li>
                            <li>
                                <a href="#">ارتباط با ما</a>
                            </li>
                            <li>
                                Portfolio
                                <ul>
                                    <li>
                                        <a href="#">خانه</a>
                                    </li>
                                    <li>
                                        <a href="#">نقشه سایت</a>
                                    </li>
                                    <li>
                                        <a href="#">سوالات متداول </a>
                                    </li>
                                    <li>
                                        <a href="#">راهنما</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        </li>
                        </ul>
                    </div>


                    <div class="col-lg-6 col-md-6 ">


                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                دسته بندی ها
                                <ul>
                                    <li>
                                        <a href="#">کسب و کارهای آنلاین</a>
                                    </li>
                                    <li>
                                        <a href="#">اطلاع رسانی و محتوا</a>
                                    </li>
                                    <li>
                                        <a href="#">خدمات آنلاین</a>
                                    </li>
                                    <li>
                                        <a href="#">شخصی و شرکتی</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- /.container -->
{% endblock %}
