{% extends "index.html" %}
{% block title %}
    <title> چشم انداز </title>
{% endblock %}
{% block Content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                چشم انداز
            </h1>
        </div>
    </div>
    <!-- /.row -->



    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">

            <p>
                در راستای افزایش کاربران دنیای مجازی و با توجه به شکل گیری بازارهای رقابتی و تلاش سازمان ها و متخصصین
                برای معرفی خود و نیاز هرچه بیشتر به جذب مشتری و همچنین نیاز کاربران برای به دست آوردن محصولات با کیفیت
                در این عرصه، وجود اهمیت بستری برای فراهم کردن تمامی این نیازها احساس می شود و رسیدن به تمامی این خواسته
                ها بدون ابزار کار سختی است.
                لینک بوک با چشم انداز طبقه بندی و بهینه سازی ارتباط میان کاربران، رسانه ها و کسب و کارها در فضای دیجیتال
                ایران قصد دارد قدمی نو در این عرصه بردارد، درواقع لینک بوک یک شبکه ی اجتماعی خواهد بود که شامل سه قسمت
                اصلی است و تمام اطلاعات این قسمت ها در پنل های موجود در لینک بوک مدیریت می شود.
                یکی از ویژگی های اصلی ما ساده بودن دسترسی ها و یکپارچگی ماست.

            </p>
            <p>

                لینک بوک بستری برای معرفی و به اشتراک گذاشتن بهترین وب سایت های دنیای اینترنت و به دنبال آن رفع نیازهای
                کاربران این حوزه در رسیدن به خواسته و اطلاعات مورده نیازشان است.

            </p>

        </div>
    </div>


    <hr>
{% endblock %}

{% block Carousel %}
{% endblock %}