{% extends "index.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    <title>{{ webcontext.title }}</title>
{% endblock %}
{% block Content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <a href="{{ webcontext.Webpage_url }}" target="_blank">{{ webcontext.title }}</a>
                </h1>

            </div>
        </div>
        <!-- /.row -->


        <br>


        <!-- start -->

        <div class="row">
            <div class="col-md-4">
                <!-- begin panel group -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                    <!-- panel 1 -->
                    <div class="panel panel-default">

                        <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                             data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                             aria-controls="collapseOne">

                            <h4 class="panel-title">چشم انداز</h4>
                        </div>
                    </span>

                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- Tab content goes here -->
                                <p>{{ webcontext.vision }} </p>
                            </div>
                        </div>
                    </div>
                    <!-- / panel 1 -->


                    <!-- panel 2 -->
                    <div class="panel panel-default">
                        <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse"
                             data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                             aria-controls="collapseTwo">
                            <h4 class="panel-title collapsed">ماموریت</h4>
                        </div>
                    </span>

                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <!-- Tab content goes here -->
                                <p>{{ webcontext.mission }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- / panel 2 -->


                    <!--  panel 3 -->
                    <div class="panel panel-default">
                        <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse"
                             data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                             aria-controls="collapseThree">
                            <h4 class="panel-title">محصولات/ خدمات </h4>
                        </div>
                    </span>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <!-- tab content goes here -->
                                <p>{{ webcontext.service_product }}</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- / panel-group -->
                <a class="btn btn-md btn-primary btn-block" href="{{ webcontext.Webpage_url }}" target="_blank">مشاهد وب
                    سایت</a>
                <br><br>


                <!-- Side Widget Well
                <div class="well">
                    <h4>عضویت در خبرنامه</h4>
                    <p> با وارد کردن ایمیل خود میتوانید از همینجابه صورت مستقیم در خبرنامه این وب اسیت عضو شوید </p>
                    <form method="post">
                        <div class="form-group">
                            <input type="email" name="userEmail" class="form-control" id="" placeholder="ایمیل">
                            <button type="submit" class="btn btn-primary">عضویت</button>
                        </div>
                    </form>
                </div>
-->
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>برچسب های وب سایت</h4>
                    <div class="row">
                        <div class="">
                            <ul class="list-unstyled">
                                {% for Tag in Tags %}
                                    <li><a href="showWebsites-{{ Tag.id }}">{{ Tag }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div> <!-- /col-md-4 -->


            <!-- start col-md-8 -->

            <div class="col-lg-8">
                <img class="img-responsive2" src="{{ webcontext.Webpage_logo.url }}"
                     alt="{{ webcontext.Webpage_logo.url }}">
                <a href="{{ webcontext.Webpage_logo.url }}" target="_blank">نمایش کامل تصویر</a>

            </div>


            <!-- Festival -->

            <div class="col-lg-8">
                <h2 class="page-header">افتخارات و عناوین</h2>
            </div>
            {% for Fest in Fescontext %}
                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{ Fest.fest_logo.url }}" alt="{{ Fest.fest_logo.url }}">
                        <div class="caption">
                            <h3>{{ Fest.fest_title }}<br></h3>
                            <p>{{ Fest.fest_text }}</p>
                            <a class="btn btn-md btn-primary btn-block"
                               href="{{ Fest.fest_url }}" target="_blank">{{ Fest.fest_title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- END Festival -->


        </div>  <!-- /end row -->


        <!-- Related Websites -->
        {#        <div class="row">#}
        {##}
        {#            <div class="col-lg-12 ">#}
        {#                <h3 class="page-header">وب سایت های مشابه :</h3>#}
        {#            </div>#}
        {##}
        {#            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">#}
        {#                <a href="#">#}
        {#                    <img class="img-responsive img-hover img-related" src="../static/img/relatedWeb.png" alt="">#}
        {#                </a>#}
        {#            </div>#}
        {##}
        {#            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">#}
        {#                <a href="#">#}
        {#                    <img class="img-responsive img-hover img-related" src="../static/img/relatedWeb.png" alt="">#}
        {#                </a>#}
        {#            </div>#}
        {##}
        {#            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">#}
        {#                <a href="#">#}
        {#                    <img class="img-responsive img-hover img-related" src="../static/img/relatedWeb.png" alt="">#}
        {#                </a>#}
        {#            </div>#}
        {##}
        {#            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">#}
        {#                <a href="#">#}
        {#                    <img class="img-responsive img-hover img-related" src="../static/img/relatedWeb.png" alt="">#}
        {#                </a>#}
        {#            </div>#}
        {##}
        {#            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">#}
        {#                <a href="#">#}
        {#                    <img class="img-responsive img-hover img-related" src="../static/img/relatedWeb.png" alt="">#}
        {#                </a>#}
        {#            </div>#}
        {##}
        {#            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">#}
        {#                <a href="#">#}
        {#                    <img class="img-responsive img-hover img-related" src="../static/img/relatedWeb.png" alt="">#}
        {#                </a>#}
        {#            </div>#}
        {##}
        {#        </div>#}
        <!-- End Related Websites -->


        <hr>


        <!-- ******************************************************* -->


        <hr>

    </div>
    <!-- /.container -->
{% endblock %}
{% block Carousel %}
{% endblock %}